USE [master]
GO
/****** Object:  Database [QueryConsolidate]    Script Date: 12/5/2017 10:53:01 PM ******/
CREATE DATABASE [QueryConsolidate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DenialsIQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.APPSWPRAC2\MSSQL\DATA\DenialsIQ.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DenialsIQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.APPSWPRAC2\MSSQL\DATA\DenialsIQ_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QueryConsolidate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QueryConsolidate]
GO
/****** Object:  Table [dbo].[ANALYTIC_EVENT]    Script Date: 12/5/2017 10:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANALYTIC_EVENT](
	[id] [bigint] NOT NULL,
	[clientCode] [varchar](255) NOT NULL,
	[runTimestamp] [datetime2](7) NOT NULL,
	[theWeek] [varchar](2) NOT NULL,
	[theStatus] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ANALYTIC_EVENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORG_INFO]    Script Date: 12/5/2017 10:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORG_INFO](
	[id] [bigint] NOT NULL,
	[clientCode] [varchar](255) NOT NULL,
	[clientName] [varchar](255) NULL,
	[weeklyRun] [tinyint] NOT NULL,
 CONSTRAINT [PK_ORG_INFO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_INFO]    Script Date: 12/5/2017 10:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_INFO](
	[id] [bigint] NOT NULL,
	[clientCode] [varchar](255) NOT NULL,
	[userID] [varchar](255) NOT NULL,
	[firstName] [varchar](255) NULL,
	[lastName] [varchar](255) NULL,
	[userStatus] [varchar](255) NOT NULL,
 CONSTRAINT [PK_USER_INFO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERMGMT_LOG]    Script Date: 12/5/2017 10:53:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERMGMT_LOG](
	[id] [bigint] NOT NULL,
	[clientCode] [varchar](255) NOT NULL,
	[userID] [varchar](255) NOT NULL,
	[loginTimestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_USERMGMT_LOG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
